{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Edit Account</h1>
    
    {{ form(edit_form, { 'attr': {'class': 'well'} }) }}
    
    <ul class="record_actions">
        <li>
            <a href="{{ path('patients') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
